**/tmp/**
**/media/**
**/node_modules/**
**/__pycache__/**
**/datasets/*
**/weights/*
**/**/resources/models/**
**/**/api/migrations/*
**/**/.idea/**
**/**/cut_images/**/**
!**/**/.gitkeep
**/**/**.log